

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - aBlog</title>
</head>
<body>
    <div> 
        <h1>THis IS LAYOUT .... </h1>
        <h1>
            <a href="@Url.RouteUrl("Home")">aBLOG</a>
        </h1>
        <a href="@Url.RouteUrl("Login")">Login</a>
    </div>
    @RenderBody()
</body>
</html>
